.top {
	background-color: #333333;
	padding: 2px 0;
    color: #dbdbdb;
    height:29px;
    width:100%;
}
.top a{
    color: #dbdbdb;
}
.wrap_1200{
	width: 1200px;
	margin: 0 auto;
	height:25px;
	
}
.login_box fl{
	width: 236px;
	height:24px;
	float:left;
	overflow: hidden;
}
.top_nav fr{
	width: 532px;
	height:25px;
	float: right;
	overflow: hidden;
}
.loadHide{
	display: none;
}
.zhuceHide{
	display: none;
}